.logo {
    z-index: 99;

    path:nth-child(1) {
        stroke-dasharray: 180;
        stroke-dashoffset: 180;
        animation: line-anim1 4s ease-in-out infinite alternate;
    }

    path:nth-child(2) {
        stroke-dasharray: 180;
        stroke-dashoffset: 180;
        animation: line-anim1 4s ease-in-out infinite alternate;
    }

    path:nth-child(3) {
        stroke-dasharray: 207;
        stroke-dashoffset: 207;
        animation: line-anim2 4s ease-in-out infinite alternate;
    }

    path:nth-child(4) {
        stroke-dasharray: 288;
        stroke-dashoffset: 288;
        animation: line-anim3 4s ease-in-out infinite alternate;
    }

    path:nth-child(5) {
        stroke-dasharray: 136;
        stroke-dashoffset: 136;
        animation: line-anim4 4s ease-in-out infinite alternate;
    }

    path:nth-child(6) {
        stroke-dasharray: 255;
        stroke-dashoffset: 255;
        animation: line-anim5 4s ease-in-out infinite alternate;
    }

    path:nth-child(7) {
        stroke-dasharray: 176;
        stroke-dashoffset: 176;
        animation: line-anim6 4s ease-in-out infinite alternate;
    }

    path:nth-child(8) {
        stroke-dasharray: 446;
        stroke-dashoffset: 446;
        animation: line-anim7 4s ease-in-out infinite alternate;
    }
}

@keyframes line-anim1 {
    0% {
        stroke-dashoffset: 180;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes line-anim2 {
    0% {
        stroke-dashoffset: 207;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes line-anim3 {
    0% {
        stroke-dashoffset: 288;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes line-anim4 {
    0% {
        stroke-dashoffset: 136;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes line-anim5 {
    0% {
        stroke-dashoffset: 255;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes line-anim6 {
    0% {
        stroke-dashoffset: 176;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes line-anim7 {
    0% {
        stroke-dashoffset: 446;
    }

    70% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}