.content {
    padding: 1rem;

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .imgBox {
            width: 100%;
            height: 300px;
            border-radius: .5rem;
            overflow: hidden;
            position: relative;

            div {
                position: absolute;
                right: .5rem;
                top: .5rem;
                background-color: #F59E0B;
                color: var(--black);
                border-radius: 50%;
                text-align: center;
                width: 40px;
                height: 40px;
                display: grid;
                place-items: center;
                font-size: .7rem;
                font-weight: 600;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &+button {
                background-color: #2563EB;
                color: #fff;
            }
        }

        button {
            outline: none;
            border: none;
            background-color: #E5E7EB;
            font-size: .75rem;
            font-weight: 600;
            color: var(--black);
            display: flex;
            align-items: center;
            gap: .5rem;
            justify-content: center;
            padding: .5rem 0;
            border-radius: .5rem;
            cursor: pointer;
        }
    }

    .right {
        header {
            display: flex;
            gap: .75rem;
            align-items: center;
            flex-wrap: wrap;

            .genre {
                background-color: #DBEAFE;
                color: #2563EB;
                padding: .25rem .5rem;
                border-radius: 50px;
                display: flex;
                place-items: center;
                font-size: .8rem;
            }

            .flex {
                display: flex;
                align-items: center;
                gap: .75rem;
            }

            .info {
                display: flex;
                align-items: center;
                font-size: .8rem;
                color: var(--gray);
                gap: .25rem;

                svg {
                    font-size: .8rem;
                }
            }
        }

        .synopsis {
            h4 {
                margin: 2rem 0 .75rem;
            }

            p {
                font-size: .9rem;
                color: var(--black);
            }

            .director {
                display: flex;
                align-items: center;
                gap: .8rem;

                .icon {
                    width: 50px;
                    height: 50px;
                    display: grid;
                    place-items: center;
                    background-color: #E5E7EB;
                    border-radius: 50%;
                    color: var(--gray);
                }

                p {
                    font-weight: 600;
                    font-size: 1rem;

                    &:last-child {
                        font-weight: 500;
                        font-size: .75rem;
                    }
                }
            }

            .rating {
                display: flex;
                align-items: center;
                gap: .5rem;
                background-color: #E5E7EB;
                padding: 1rem;
                border-radius: .5rem;
                font-size: .8rem;

                aside {
                    background-color: #2563EB;
                    color: #fff;
                    padding: .25rem .5rem;
                    border-radius: .5rem;
                    display: grid;
                    place-items: center;
                }
            }

            .additionalDetails {
                display: flex;
                flex-direction: column;
                border-radius: .5rem;
                overflow: hidden;
                border: 1px solid #E5E7EB;
                border-bottom: none;

                .row {
                    display: flex;
                    border-bottom: 1px solid #E5E7EB;

                    aside {
                        width: 120px;
                        font-size: .8rem;
                        font-weight: 600;
                        background-color: #F3F4F6;
                        padding: .5rem;
                        border-right: 1px solid #E5E7EB;
                    }

                    p {
                        flex: 1;
                        padding: 0.5rem;
                        background-color: #F9FAFB;
                        font-size: .8rem;
                    }
                }
            }

            .seasons {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: .5rem;
                margin-top: 1rem;

                div {
                    white-space: nowrap;
                    cursor: pointer;
                    transition: 300ms;

                    &:hover {
                        color: #2563EB;
                    }
                }
            }
        }
    }
}