:root {
    --black: #1f2937;
    --gray: #4b5563;
    --placeholderGray: #adaebc;
    --borderGray: #e5e7eb;
    --textGray: #9ca3af;
    --bodyBg: #f9fafb;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bodyBg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
